* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
    
    font-family: 'Open Sans';
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600;900&family=Open+Sans:wght@400;700&display=swap');
   }

   body {
    background:url(../imagenes/intro-bg.png);
    background-repeat: no-repeat ;
    background-size: cover;
   }

    nav {
    height: 80px;
    width: 100%;
    background: white;
    }

    
    .logotipo {
    height: 80px;
    position: absolute;
    background: white;
    padding: 20px 50px 0px;
    }

    nav ul{
    float: right;
    margin-right: 20px;
    background: white;

    }

    nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    background: white;

    }
    
    nav ul li a{
        color: rgb(222, 102, 218);
        font-size: 18px;
        padding: 7px 13px;
        border-radius: 3px;
        text-transform: uppercase;
        background: white;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 700;
        
    }

    li a.active, li a:hover {
color: rgb(11, 187, 226);
    }

    .articles h2{
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 60px;
        padding: 50px 200px;
        margin-top: 130px;
        text-align: left;
        color: white;
    }

    .parrafo {
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 60px;
        padding: 30px 200px;
        margin-top: 0px;
        text-align: left;
        color: rgb(10, 190, 231);
    }

    .boton1{
        font-family: 'Open Sans', sans-serif;
        font-weight: 30;
        background: rgba(71, 135, 198, 0.922);
        color: white;        
        display: inline-block;
        font-size: 20px;
        width: 200px;
        margin-left: 200px;
        padding: 10px 0px;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        cursor: pointer;
               
    }

    .boton2{
        font-family: 'Open Sans', sans-serif;
        font-weight: 30;
        background: rgba(71, 135, 198, 0.922);
        color: white;         
        display: inline-block;
        font-size: 20px;
        width: 200px;
        margin-left: 30px;
        padding: 10px 0px;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        cursor: pointer;
               
    }

    .articles div{
        position: absolute;
        margin: -350px 900px;
    }

    .articles div img{
        width: 350px;
        border-radius: 50%;
        box-shadow: 0 3px 0px #9e8383;
    }



    

